@font-face {
    font-family: 'Rye';
    src: url('fonts/rye_regular.ttf') format('truetype');
} 

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Rye', Arial, Helvetica, sans-serif;

}

canvas{
    background-color: black;
    display: block;
}

button{
    background-color:#FBA83C;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.d-none{
    display: none !important;
}

.enterFullscreen{
    width: 100% !important;
    height: 100vh !important;
}

.fullscreen{
    position: relative;
}

.startscreen{
    display: block;
    width: 720px;
    height: 480px;
    position: absolute;
}

.endscreen{
    position: absolute;
    top:0;
}

.startBTN{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    
}

.intro_outro_img{
    width: 720px;
    height: 480px;
    
}

@media only screen and (max-width: 720px){
    .startscreen{
        width: 100%;
    }

    .intro_outro_img{
        width: 100%;
    }

    canvas{
        width: 100%;
    }
    
}

@media only screen and (max-height: 480px){
    .startscreen{
        height: 100%;
    }

    .intro_outro_img{
        height: 100vh;
    }

    canvas{
        height: 100vh;
    }

    h1 {
        display: none;
    }
}