@font-face {
    font-family: 'Rye';
    src: url('fonts/rye_regular.ttf') format('truetype');
} 

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: 'Rye', Arial, Helvetica, sans-serif;

}

canvas{
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        width: 100vh;
    }
    h1 {
        display: none;
    }
}